In [1]:
!pip install SimpleITK
import SimpleITK as sitk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
!pip install dltk
from dltk.io import preprocessing
from skimage import filters

import os

Requirement already satisfied: SimpleITK in /opt/anaconda3/lib/python3.8/site-packages (2.1.0)
Requirement already satisfied: dltk in /opt/anaconda3/lib/python3.8/site-packages (0.2.1)
Requirement already satisfied: scipy>=0.19.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.5.2)
Requirement already satisfied: jupyter>=1.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.0.0)
Requirement already satisfied: scikit-image>=0.13.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (0.17.2)
Requirement already satisfied: SimpleITK>=1.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (2.1.0)
Requirement already satisfied: numpy>=1.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.19.2)
Requirement already satisfied: xlrd>=1.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.2.0)
Requirement already satisfied: argparse in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.4.0)
Requirement already satisfied: future>=0.16.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (0.18.2)
Requirement already satisfied: matplotlib>=1.5.3 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (3.3.2)
Requirement already satisfied: pandas>=0.19.0 in /opt/anaconda3/lib/python3.8/site-packages (from dltk) (1.1.3)
Requirement already satisfied: qtconsole in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (4.7.7)
Requirement already satisfied: nbconvert in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (6.0.7)
Requirement already satisfied: ipykernel in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (5.3.4)
Requirement already satisfied: jupyter-console in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (6.2.0)
Requirement already satisfied: ipywidgets in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (7.5.1)
Requirement already satisfied: notebook in /opt/anaconda3/lib/python3.8/site-packages (from jupyter>=1.0.0->dltk) (6.1.4)
Requirement already satisfied: networkx>=2.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-image>=0.13.0->dltk) (2.5)
Requirement already satisfied: pillow!=7.1.0,!=7.1.1,>=4.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-image>=0.13.0->dltk) (8.0.1)
Requirement already satisfied: imageio>=2.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-image>=0.13.0->dltk) (2.9.0)
Requirement already satisfied: tifffile>=2019.7.26 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-image>=0.13.0->dltk) (2020.10.1)
Requirement already satisfied: PyWavelets>=1.1.1 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-image>=0.13.0->dltk) (1.1.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->dltk) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->dltk) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->dltk) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->dltk) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->dltk) (1.3.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.19.0->dltk) (2020.1)
Requirement already satisfied: qtpy in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (1.9.0)
Requirement already satisfied: pyzmq>=17.1 in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (19.0.2)
Requirement already satisfied: jupyter-client>=4.1 in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (6.1.7)
Requirement already satisfied: traitlets in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (5.0.5)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (4.6.3)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (0.2.0)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.8/site-packages (from qtconsole->jupyter>=1.0.0->dltk) (2.7.2)
Requirement already satisfied: nbformat>=4.4 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (5.0.8)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.5.1)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.1.2)
Requirement already satisfied: jinja2>=2.4 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (2.11.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (3.2.1)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.6.0)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/lib/python3.8/site-packages (from nbconvert->jupyter>=1.0.0->dltk) (0.3)
Requirement already satisfied: tornado>=4.2 in /opt/anaconda3/lib/python3.8/site-packages (from ipykernel->jupyter>=1.0.0->dltk) (6.0.4)
Requirement already satisfied: appnope; platform_system == "Darwin" in /opt/anaconda3/lib/python3.8/site-packages (from ipykernel->jupyter>=1.0.0->dltk) (0.1.0)
Requirement already satisfied: ipython>=5.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipykernel->jupyter>=1.0.0->dltk) (7.19.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from jupyter-console->jupyter>=1.0.0->dltk) (3.0.8)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipywidgets->jupyter>=1.0.0->dltk) (3.5.1)
Requirement already satisfied: prometheus-client in /opt/anaconda3/lib/python3.8/site-packages (from notebook->jupyter>=1.0.0->dltk) (0.8.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/anaconda3/lib/python3.8/site-packages (from notebook->jupyter>=1.0.0->dltk) (0.9.1)
Requirement already satisfied: Send2Trash in /opt/anaconda3/lib/python3.8/site-packages (from notebook->jupyter>=1.0.0->dltk) (1.5.0)
Requirement already satisfied: argon2-cffi in /opt/anaconda3/lib/python3.8/site-packages (from notebook->jupyter>=1.0.0->dltk) (20.1.0)
Requirement already satisfied: decorator>=4.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from networkx>=2.0->scikit-image>=0.13.0->dltk) (4.4.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib>=1.5.3->dltk) (1.15.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/lib/python3.8/site-packages (from nbformat>=4.4->nbconvert->jupyter>=1.0.0->dltk) (3.2.0)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter>=1.0.0->dltk) (1.4.2)
Requirement already satisfied: async-generator in /opt/anaconda3/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter>=1.0.0->dltk) (1.10)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from jinja2>=2.4->nbconvert->jupyter>=1.0.0->dltk) (1.1.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->jupyter>=1.0.0->dltk) (0.5.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.8/site-packages (from bleach->nbconvert->jupyter>=1.0.0->dltk) (20.4)

Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (0.17.1)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (50.3.1.post20201107)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (4.8.0)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (0.2.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter>=1.0.0->dltk) (0.2.5)
Requirement already satisfied: ptyprocess in /opt/anaconda3/lib/python3.8/site-packages (from terminado>=0.8.3->notebook->jupyter>=1.0.0->dltk) (0.6.0)
Requirement already satisfied: cffi>=1.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from argon2-cffi->notebook->jupyter>=1.0.0->dltk) (1.14.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter>=1.0.0->dltk) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->jupyter>=1.0.0->dltk) (0.17.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->jupyter>=1.0.0->dltk) (0.7.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.8/site-packages (from cffi>=1.0.0->argon2-cffi->notebook->jupyter>=1.0.0->dltk) (2.20)

In [33]:
df = pd.read_csv('data/ADNI_descrip.csv')

In [34]:
subjects = df['Subject'].tolist()

In [35]:
subject_unique = set(subjects)

In [36]:
df_2 = pd.DataFrame()

df_2['subject'] = list(subject_unique)

In [39]:
def get_visit2(subject):
    hold1 = df.loc[(df['Subject'] == subject)&(df['Visit'] == 2)]
    hold2 = hold1.iloc[0]
    image_id = hold2['Image Data ID']
    return image_id

In [40]:
df_2['visit_2'] = df_2['subject'].apply(get_visit2)

In [41]:
df_2

        subject  visit_2
0    116_S_0487   I59677
1    021_S_0332   I33484
2    023_S_0855  I118987
3    128_S_1088   I90614
4    116_S_0649   I63508
..          ...      ...
114  023_S_0078   I51981
115  094_S_1267   I75503
116  136_S_0579  I119735
117  116_S_1232   I53836
118  016_S_0769  I138391

[119 rows x 2 columns]

In [42]:
def get_visit3(subject):
    hold1 = df.loc[(df['Subject'] == subject)&(df['Visit'] == 2)]
    hold2 = hold1.iloc[0]
    image_id = hold2['Image Data ID']
    return image_id

In [43]:
df_2['visit_3'] = df_2['subject'].apply(get_visit3)

In [44]:
df_2

        subject  visit_2  visit_3
0    116_S_0487   I59677   I59677
1    021_S_0332   I33484   I33484
2    023_S_0855  I118987  I118987
3    128_S_1088   I90614   I90614
4    116_S_0649   I63508   I63508
..          ...      ...      ...
114  023_S_0078   I51981   I51981
115  094_S_1267   I75503   I75503
116  136_S_0579  I119735  I119735
117  116_S_1232   I53836   I53836
118  016_S_0769  I138391  I138391

[119 rows x 3 columns]

In [45]:
def get_visit4(subject):
    hold1 = df.loc[(df['Subject'] == subject)&(df['Visit'] == 4)]
    hold2 = hold1.iloc[0]
    image_id = hold2['Image Data ID']
    return image_id

In [46]:
df_2['visit_4'] = df_2['subject'].apply(get_visit4)

In [47]:
df_2

        subject  visit_2  visit_3  visit_4
0    116_S_0487   I59677   I59677   I92420
1    021_S_0332   I33484   I33484   I81387
2    023_S_0855  I118987  I118987   I77026
3    128_S_1088   I90614   I90614   I91990
4    116_S_0649   I63508   I63508   I83512
..          ...      ...      ...      ...
114  023_S_0078   I51981   I51981   I52013
115  094_S_1267   I75503   I75503  I101760
116  136_S_0579  I119735  I119735   I83554
117  116_S_1232   I53836   I53836   I91912
118  016_S_0769  I138391  I138391   I79313

[119 rows x 4 columns]

In [48]:
df_2.to_csv('client_visit_id.csv')